# Specifies which files Git should ignore

# Python virtual environment
venv/
env/
.env/
supaTopSecret.json

# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local



# Backend
backend/

/credentials/ 