# Specifies which files Git should ignore

# Test 
test_stuff/
.DS_Store

# Python virtual environment
venv/
.venv/
git rm -r --cached .venv
env/
.env/
supaTopSecret.json
massive-anagram-448023-j1-5672a0696775.json
TOP_SECRET_STUFF.py

# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local



# Backend

/credentials/ 

TOP_SECRET_STUFF.pyvenv/
node_modules/
